In [1]:
import sqlite3
import pandas as pd
import json

In [ ]:
# open JSON data
with open("data/dino_data.json") as f:
    data = json.load(f)

# create a dataframe from the JSON data
# print(json.dumps(data, indent=4))

In [ ]:
data_json = json.load(open('data/dino_data.json'))

df=pd.DataFrame(data_json['records'])
df_new=df[['eag','lag','phl','cll','odl','fml','gnl','lng','lat']]
df_new.dropna()

df_new.head()

In [5]:
# # create a database
# conn = sqlite3.connect('data/dino.db')
# # c = conn.cursor()

# df_new.to_sql('dino_Table', conn)

In [ ]:
df1=pd.read_sql_query('SELECT * from dino_table', conn)
df1.head()