In [1]:
import sqlite3
import pandas as pd
import json

In [9]:
# open JSON data
with open("data/dino_data.json") as f:
    data = json.load(f)

# create a dataframe from the JSON data

df=pd.DataFrame(data['records'])
df_new=df[['idn', 'eag', 'lag', 'phl', 'cll', 'odl', 'fml', 'gnl', 'lng', 'lat']]
df_new.dropna()

df_new.head()

,idn,eag,lag,phl,cll,odl,fml,gnl,lng,lat
0,Futalognkosaurus dukei,93.5,85.8,Chordata,Saurischia,NO_ORDER_SPECIFIED,NO_FAMILY_SPECIFIED,Futalognkosaurus,-68.724556,-38.453194
1,Elaphrosaurus bambergi,155.7,150.8,Chordata,Saurischia,NO_ORDER_SPECIFIED,Noasauridae,Elaphrosaurus,39.228348,-9.681635
2,Elaphrosaurus bambergi,155.7,150.8,Chordata,Saurischia,NO_ORDER_SPECIFIED,Noasauridae,Elaphrosaurus,39.228348,-9.681635
3,Laelaps aquilunguis,70.6,66.0,Chordata,Saurischia,NO_ORDER_SPECIFIED,NO_FAMILY_SPECIFIED,Dryptosaurus,-75.160278,39.732777
4,Laelaps aquilunguis,70.6,66.0,Chordata,Saurischia,NO_ORDER_SPECIFIED,NO_FAMILY_SPECIFIED,Dryptosaurus,-75.160278,39.732777

In [10]:
# create a database
conn = sqlite3.connect('data/dino.db')
c = conn.cursor()

# Uncomment this if need to create table in database again
# df_new.to_sql('dino_Table', conn, if_exists='replace')

In [11]:
# Check database works
df1 = pd.read_sql_query('SELECT * from dino_table', conn, index_col='index')
df1.head()

,idn,eag,lag,phl,cll,odl,fml,gnl,lng,lat
index,,,,,,,,,,
0,Futalognkosaurus dukei,93.5,85.8,Chordata,Saurischia,NO_ORDER_SPECIFIED,NO_FAMILY_SPECIFIED,Futalognkosaurus,-68.724556,-38.453194
1,Elaphrosaurus bambergi,155.7,150.8,Chordata,Saurischia,NO_ORDER_SPECIFIED,Noasauridae,Elaphrosaurus,39.228348,-9.681635
2,Elaphrosaurus bambergi,155.7,150.8,Chordata,Saurischia,NO_ORDER_SPECIFIED,Noasauridae,Elaphrosaurus,39.228348,-9.681635
3,Laelaps aquilunguis,70.6,66.0,Chordata,Saurischia,NO_ORDER_SPECIFIED,NO_FAMILY_SPECIFIED,Dryptosaurus,-75.160278,39.732777
4,Laelaps aquilunguis,70.6,66.0,Chordata,Saurischia,NO_ORDER_SPECIFIED,NO_FAMILY_SPECIFIED,Dryptosaurus,-75.160278,39.732777

In [12]:
# Run at end to close connection to database file
c.close()
conn.close()